<header id="header" class="clearfix static-sticky">

    <div id="header-wrap" class="">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="demos/business/images/logo-dark.png"><img src="./assets/img/logo.jpg" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="demos/business/images/logo-dark@2x.png"><img src="demos/business/images/logo@2x.png" alt="Canvas Logo"></a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="d-lg-flex d-xl-flex justify-content-xl-between justify-content-lg-between fnone with-arrows">


                <ul class="align-self-start sf-js-enabled" style="touch-action: pan-y;">
                    <li><span class="menu-bg col-auto align-self-start d-flex"></span></li>
                    <li class="active">
                        <a href="#">
                            <div>Home</div>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="#" class="sf-with-ul">
                            <div>About<i class="icon-angle-down"></i></div>
                        </a>
                        <ul style="display: none;">
                            <li>
                                <a href="#">
                                    <div>Dropdown 1</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Dropdown 2</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Dropdown 3</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>Dropdown 4</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <div>Causes</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>Events</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>Contact</div>
                        </a>
                    </li>
                </ul>

                <ul class="not-dark align-self-end sf-js-enabled" style="touch-action: pan-y;">
                    <li>
                        <a href="#" class="header-button">
                            <div>Donate</div>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- #primary-menu end -->

        </div>

    </div>

</header>