		<!-- Header
		============================================= -->
		<!--header id="header" class="sticky-style-2">
			<div class="container clearfix">
				<div class="row justify-content-between clearfix">
					<div class="col-md-4 col-sm-3 d-none d-sm-inline-flex align-self-center">
						<a href="#" class="social-icon inline-block si-small si-rounded si-dark si-mini si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-rounded si-dark si-mini si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						<a href="#" class="social-icon inline-block si-small si-rounded si-dark si-mini si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
					</div>

					<div class="col-md-4 col-sm-5 col-8 align-self-center">
						<!-- Logo
						============================================= -->
						<!--div id="logo" class="divcenter nomargin">
							<a href="#" class="standard-logo"><img class="divcenter" src="assets/img/logo3.png" alt="Aqui va el logo"></a>
							<a href="#" class="retina-logo"><img class="divcenter" src="demos/news/images/logo@2x.png" alt="Canvas Logo"></a>
						</div><!-- #logo end -->
					<!--/div>

					<div class="col-sm-4 col-4 align-self-center nomargin">
						<ul class="nav justify-content-end">
							<li class="nav-item">
								<a class="nav-link uppercase t500" href="#">Sign In</a>
							</li>
							<li class="entry-categories mt-3 d-none d-sm-inline-block" style="position: relative; left: auto;">
								<a class="date-today bg-dark uppercase t500" href="#"></a>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<div id="header-wrap">
				<!-- Primary Navigation
				============================================= -->
				<!--nav id="primary-menu" class="with-arrows style-2 clearfix">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class="active menu-color-home"><a href="#"><div>Inicio</div></a></li>
							<li class="menu-color-travel"><a href="#"><div>Nosotros</div></a></li>
							<li class="menu-color-tech"><a href="#"><div>Servicios</div></a></li>
							<li class="menu-color-lifestyle mega-menu"><a href="#"><div>Servicios</div></a>
								<div class="mega-menu-content style-2 border-top-0 clearfix">
									<ul class="mega-menu-column col-lg-3">
										<li>
											<div class="nav nav-sm tab-hover flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
												<a class="nav-link bg-color-lifestyle active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Health / Fitness</a>
												<a class="nav-link bg-color-lifestyle" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Entertainment</a>
												<a class="nav-link bg-color-lifestyle" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Artist</a>
												<a class="nav-link bg-color-lifestyle" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Recipes</a>
											</div>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-9">
										<li>

											<div class="tab-content" id="v-pills-tabContent">
												<div class="tab-pane show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
													<div class="row justify-content-around">
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/1.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Gym</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">A Surprising Tool to Help you Lifestyle</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/meditation.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Meditation</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Toyotas next minivan will let you.</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/3.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Yoga</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Lifestyle Your Way to Success</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
													<div class="row justify-content-around">
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/2.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Music</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">A Surprising Tool to Help You Lifestyle</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/party.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Party</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Toyotas next minivan will let you.</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/movies.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Movies</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Lifestyle Your Way to Success</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
													<div class="row justify-content-around">
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/author.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Author</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">A Surprising Tool to Help You Lifestyle</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/painter.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Painter</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Toyotas next minivan will let you.</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/book.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Book</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Lifestyle Your Way to Success</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
													<div class="row justify-content-around">
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/recipes-1.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Recipes</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">A Surprising Tool to Help You Lifestyle</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/recipes-2.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Recipes</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Toyotas next minivan will let you.</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
														<div class="col-4">
															<article class="ipost">
																<div class="entry-image mb-3">
																	<a href="#"><img src="demos/news/images/posts/lifestyle/chef.jpg" alt="Image 3"></a>
																	<div class="entry-categories"><a href="#" class="bg-lifestyle">Chef</a></div>
																</div>
																<div class="entry-title">
																	<h3><a href="#">Lifestyle Your Way to Success</a></h3>
																</div>
																<ul class="entry-meta clearfix">
																	<li>John Doe</li>
																	<li><i class="icon-time"></i>11 Mar 2016</li>
																</ul>
															</article>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu-color-fashion"><a href="#"><div>Contactos</div></a></li>
						</ul>

						<!-- Mobile Menu
						============================================= -->
						<!--ul class="mobile-primary-menu">
							<li class="active menu-color-home"><a href="#"><div>Home</div></a></li>
							<li class="menu-color-travel"><a href="#"><div>Travel</div></a></li>
							<li class="menu-color-lifestyle"><a href="#"><div>Lifestyle</div></a></li>
							<li class="menu-color-tech"><a href="#"><div>Tech</div></a></li>
							<li class="menu-color-fashion"><a href="#"><div>Fashion</div></a></li>
							<li class="menu-color-sports"><a href="#"><div>Sports</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-lg-6">
										<li class="mega-menu-title"><a href="#"><div>Footwear</div></a>
											<ul>
												<li><a href="#"><div>Casual Shoes</div></a></li>
												<li><a href="#"><div>Formal Shoes</div></a></li>
												<li><a href="#"><div>Sports shoes</div></a></li>
												<li><a href="#"><div>Flip Flops</div></a></li>
												<li><a href="#"><div>Slippers</div></a></li>
												<li><a href="#"><div>Sports Sandals</div></a></li>
												<li><a href="#"><div>Party Shoes</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-6">
										<li class="mega-menu-title"><a href="#"><div>Clothing</div></a>
											<ul>
												<li><a href="#"><div>Casual Shirts</div></a></li>
												<li><a href="#"><div>T-Shirts</div></a></li>
												<li><a href="#"><div>Collared Tees</div></a></li>
												<li><a href="#"><div>Pants / Trousers</div></a></li>
												<li><a href="#"><div>Ethnic Wear</div></a></li>
												<li><a href="#"><div>Jeans</div></a></li>
												<li><a href="#"><div>Sweamwear</div></a></li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu-color-food"><a href="#"><div>Food</div></a></li>
							<li class="menu-color-market"><a href="#"><div>Market</div></a></li>
						</!--ul>

						<!-- Top Search
						============================================= -->
						<!--div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</!--div><!-- #top-search end -->

						<!-- Bookmark
						============================================= -->
						<!--div id="top-cart"><a href="#" id="top-cart-trigger"><i class="icon-bookmark-empty t600"></i></a></div>

					</div>

				</!--nav><!-- #primary-menu end -->

			<!--/div>

        </header--><!-- #header end -->
    

		<!-- Header
		============================================= -->
		<header id="header" class="sticky-style-2">

			<div class="container clearfix">

				<!-- Logo
				============================================= -->
				<div id="logo">
					<a href="index.html" class="standard-logo"><img src="assets/img/logo3.png" alt="stm logo"></a>
					<a href="index.html" class="retina-logo"><img src="assets/img/logo3.png" alt="stm logo"></a>
				</div><!-- #logo end -->

				<ul class="header-extras">
					<li>
						<i class="i-plain icon-call nomargin"></i>
						<div class="he-text">
							Llámanos
							<span>(91) 22 54215821</span>
						</div>
					</li>
					<li>
						<i class="i-plain icon-line2-envelope nomargin"></i>
						<div class="he-text">
							Email
							<span>info@stmgroup.com</span>
						</div>
					</li>
					<li>
						<i class="i-plain icon-line-clock nomargin"></i>
						<div class="he-text">
							Atendemos
							<span>Lun - Vie, 10AM to 6PM</span>
						</div>
					</li>
				</ul>

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="with-arrows style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class="current"><a href="#"><div>Inicio</div></a></li>
							<li><a href="demos/construction/services.html"><div>Nosotros</div></a>
								<ul>
									<li><a href="#"><div>Quienes somos</div></a></li>
									<li><a href="#"><div>Nuestra Historia</div></a></li>
								</ul>
							</li>
							<li><a href="demos/construction/projects.html"><div>Servicios</div></a>
								<ul>
									<li><a href="demos/construction/projects-2.html"><div>Seguridad y Salud en el Trabajo</div></a></li>
									<li><a href="demos/construction/projects-3.html"><div>Medio Ambiente</div></a></li>
									<li><a href="demos/construction/projects.html"><div>Sistema de Gestión</div></a></li>
									<li><a href="demos/construction/projects-5.html"><div>Capacitaciones,Diplomados y
                                        cursos</div></a></li>
								</ul>
							</li>
							<li><a href="demos/construction/investors.html"><div>Contactanos</div></a></li>
						
						</ul>

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Buscar...">
							</form>
						</div><!-- #top-search end -->

					</div>

				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->
