<!-- Top Bar
		    ============================================= -->
<app-top></app-top>
<!-- #top bar end -->
<!-- Header
        ============================================= -->
<app-header></app-header>
<!-- #header end -->

<!-- Slider
        ============================================= -->

<!-- #Slider end -->

<!-- Contenido
        ============================================= -->

<!-- #Contenido end -->
<router-outlet></router-outlet>
<!-- Footer
        ============================================= -->

<!-- #Footer end -->